.moviesList { 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.popularMovie {
    text-align: center; /* Centraliza o texto do título */
    margin-top: 20px; /* Adiciona uma margem no topo */
    margin-bottom: 30px; /* Adiciona uma margem abaixo, antes da lista de filmes */
    font-size: 2em; /* Tamanho da fonte um pouco maior, ajuste conforme necessário */
    color: #333; /* Uma cor escura para o texto, ajuste se preferir */
}